@{
    ViewData["Title"] = "Home Page";
}


<div>
    <!-- Carousel -->
    <div id="homeCarousel" class="carousel slide mt-0 mb-4">
        <div class="carousel-inner" role="listbox" style=" width:100%; height: 100% !important;">
            <div class="carousel-item active">
                <img src="./img/banner-web-20.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./img/banner-web-10.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Card Deck in Home Page-->
    <div class="card-deck">
        <div class="row no-gutters">
            <div class="card col-4">
                <img class="card-img-top w-auto" src="./img/ab0139631c1p1-navitimer-b01-chronograph-41-soldier.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card col-4">
                <img class="card-img-top w-auto" src="./img/rb0139631g1p1-navitimer-b01-chronograph-41-soldier.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card col-4">
                <img class="card-img-top w-auto" src="./img/e823103a1m1s1-endurance-pro-ironman-world-championship-soldier.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>