@model System.Exception

@if (Model != null)
{
    <h5 class="text-danger">Error: @Model.Message</h5>

    if(Model.StackTrace != null)
    {
        <p style="font-weight: bold;">Follow the stack trace - the first few lines will tell you what causes the problem</p>
        <code class="mt-5" style="background-color: whitesmoke;">
            @Model.StackTrace
        </code>        
    }
}

<div class="border-top mt-4">
    <a class="mt-2" href="@Url.Action("Index", "Home")">Return to Home Page</a>
</div>