<div class="container-fluid">
    <div id="container">
        <img id="img-banner" src="~/img/desktop-top-banner.webp" alt="About Us" />
        <h1 id="title-banner"><span id="title-span">About Us - </span>Watch Zone</h1>
    </div>
    
    <div class="container mt-4 mb-4">
        <div class="row mb-6">
            <div class="col-md-6">
                <img src="~/img/mobile-quality-passion-and-performance.webp" height="400px" alt="quality"/>
            </div>
            <div class="col-6">
                <h3 class="mb-2">
                    <span id="title-span">QUALITY, PASSION</span> AND PERFORMANCE
                </h3>
                <p class="mb-4">
                    We are one of only a handful of independent watchmakers producing our own movements. That commitment goes back to 1999, when we set out to ensure that every single one of our calibers had the status of COSC-certified chronometer. The designation, awarded by the Contrôle Officiel Swisse des Chronomètres (COSC), is a marker of the highest standards of watchmaking and a guarantee of accuracy to within -4 to +6 seconds a day for mechanical movements and less than half a second a day for quartz. To meet COSC’s exacting criteria, we built our own state-of-the-art watchmaking facility.
                </p>
                <p>
                    Opened in 2001, the Breitling Chronometrie is the heart of our watchmaking expertise and innovation. The choice of location was obvious: La Chaux-de-Fonds, the center of Swiss watchmaking, and the city where our founder Léon Breitling opened his first full-fledged factory more than 100 years earlier. Combining a research laboratory and a cutting-edge workshop, the Breitling Chronometrie is dedicated to the design, development and meticulous assembly of our watches. Intricate, ultra-precise adjustments to the hundredth, or even thousandth, of a second are performed by a team of expert horologists and technicians with decades of experience.
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <h3 class="mb-2">
                    <span id="title-span">IN-HOUSE</span> INNOVATION
                </h3>
                <p class="mb-4">
                    In 2009, we introduced our first in-house movement: the Breitling Manufacture Caliber 01. Starting from a clean slate, its design was the cumulation of a century-plus of Breitling expertise, and no detail was overlooked. From its functionality and interplay of parts to its aesthetics and ease of servicing, it has become the industry benchmark for chronograph movements. Soon after its release, the exceptional caliber received additional complications, including a GMT function, world-time indication and even a split second—the most difficult chronograph complication in watchmaking.
                </p>
                <p>

                    Our manufacture calibers are subject to painstaking quality control. It takes ten months of production and 1,000 tests to achieve COSC certification. Just as gruelling is our in-house 16-year accelerated aging equivalency for manufacture movements that includes shock testing (approx. 60,000 shocks at 500G), crown testing (more than 100,000 crown winds), winding of the oscillating weight (3,456,000 weight turns) and chronograph pusher testing (approx. 5,840 start-stop-reset engagements). Only once it has passed every test, can a Breitling watch leave the Chronometrie.
                </p>
            </div>
            <div class="col-6">
                <img src="~/img/mobile-in-house-innovation.webp" height="400px" alt="innovation"/>
            </div>
        </div>
    </div>


</div>