@model CreateViewModel

<div class="modal fade" id="addWatch">
    <div class="modal-dialog modal-lg" style="min-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addWatchLabel">Add Watch</h4>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createForm" asp-controller="Dashboard" asp-action="AddProduct" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-4">
                            <h4 class="mt-4 mb-2">Photo Upload</h4>
                            <div class="dropzone">
                                <img id="upload-icon" src="/img/upload-icon.png" class="file-upload-icon" />
                            </div>
                            <div class="file-upload-wrapper">
                                <input type="file" id="input-file-max-fs" onchange="getFile(this)" class="file-upload" data-max-file-size="2M" asp-for="Photo" />
                            </div>
                        </div>
                        <div class="col-8">
                            <h4 class="mt-4 mb-2">Product Info</h4>
                            <div class="form-group mb-2">
                                <label asp-for="Name" class="control-label required">Name</label>
                                <input asp-for="Name" class="form-control" type="text" placeholder="">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="ItemNumber" class="control-label required">Item Number</label>
                                <input asp-for="ItemNumber" class="form-control" type="text" placeholder="">
                                <span asp-validation-for="ItemNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2">
                                <label asp-for="Price" class="control-label required">Price</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">฿</span>
                                    </div>
                                    <input asp-for="Price" class="form-control" type="number" value="@Model.Price" placeholder="0.00">
                                </div>

                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <hr />

                            <h4 class="mt-2">Movement Specifications</h4>

                            <div class="row">
                                <div class="form-group col-6 mb-2">
                                    <label asp-for="Caliber" class="control-label required">Caliber</label>
                                    <input asp-for="Caliber" class="form-control" type="text" placeholder="">
                                    <span asp-validation-for="Caliber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6 mb-2">
                                    <label asp-for="Movement" class="control-label required">Movement Type</label>
                                    <input asp-for="Movement" class="form-control" type="text" placeholder="">
                                    <span asp-validation-for="Movement" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-6 mb-2">
                                    <label asp-for="Chronograph" class="control-label required">Chronograph</label>
                                    <input asp-for="Chronograph" class="form-control" type="text" placeholder="">
                                    <span asp-validation-for="Chronograph" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6 mb-2">
                                    <label asp-for="Jewel" class="control-label required">Jewel</label>
                                    <input asp-for="Jewel" class="form-control" type="number" placeholder="Valid Range: (1 - 70)">
                                    <span asp-validation-for="Jewel" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <h4 class="mt-2">Dimensions</h4>

                    <div class="row">
                        <div class="form-group col-3 mb-2">
                            <label asp-for="Weight" class="control-label required">Weight</label>
                            <div class="input-group">
                                <input asp-for="Weight" class="form-control" type="number" placeholder="Valid Range: (2 - 200)">
                                <div class="input-group-append">
                                    <span class="input-group-text"> g </span>
                                </div>
                            </div>
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3 mb-2">
                            <label asp-for="Diameter" class="control-label required">Diameter</label>
                            <div class="input-group">
                                <input asp-for="Diameter" class="form-control" type="number" placeholder="Valid Range: (25 - 55)">
                                <div class="input-group-append">
                                    <span class="input-group-text"> mm </span>
                                </div>
                            </div>
                            <span asp-validation-for="Diameter" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3 mb-2">
                            <label asp-for="Thickness" class="control-label required">Thickness</label>
                            <div class="input-group">
                                <input asp-for="Thickness" class="form-control" type="number" placeholder="Valid Range: (2 - 20)">
                                <div class="input-group-append">
                                    <span class="input-group-text"> mm </span>
                                </div>
                            </div>
                            <span asp-validation-for="Thickness" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3 mb-2">
                            <label asp-for="Height" class="control-label required">Height</label>
                            <div class="input-group">
                                <input asp-for="Height" class="form-control" type="number" placeholder="Valid Range: (25 - 55)">
                                <div class="input-group-append">
                                    <span class="input-group-text"> mm </span>
                                </div>
                            </div>
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <h4 class="mt-2">Materials</h4>
                    <div class="form-group mb-2">
                        <label asp-for="CaseMaterial" class="control-label required">Case Material</label>
                        <input asp-for="CaseMaterial" class="form-control" type="text" placeholder="">
                        <span asp-validation-for="CaseMaterial" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="StrapMaterial" class="control-label required">Strap Material</label>
                        <input asp-for="StrapMaterial" class="form-control" type="text" placeholder="">
                        <span asp-validation-for="StrapMaterial" class="text-danger"></span>
                    </div>

                    <hr />

                    <h4 class="mt-2">Description</h4>

                    <div class="form-group mb-2">
                        <label asp-for="ShortDescription" class="control-label required">Short Description</label>
                        <input asp-for="ShortDescription" class="form-control" type="text" placeholder="">
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="FullDescription" class="control-label required">Full Description</label>
                        <textarea asp-for="FullDescription" class="form-control" id="fullDescription" rows="4"></textarea>
                        <span asp-validation-for="FullDescription" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="createFormSubmit()" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>

</div>